{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "bracketSpacing": true,
  "printWidth": 140,
  "semi": true
}
