version: "3.9"

services:
  mongo:
    image: mongo:6.0        # or latest if you want newest version
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db  # persistent data storage

volumes:
  mongo_data:
